@import url("http://fonts.googleapis.com/css?family=Lato:400,700,400italic");
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
body {
  width: 460px;
  background: #f3f4f6;
}
.hide {
  display: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  margin: 0;
  text-align: center;
}
a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 0;
}
a:hover,
a:focus {
  background: #ddd;
  text-decoration: none;
}
a.active,
a.active:hover {
  background: #aaa;
}
body ::-webkit-scrollbar {
  width: 7px;
}
body ::-webkit-scrollbar-track {
  border-radius: 10px;
}
body ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.15);
}
.menu-list > li {
  margin: 0;
  min-width: 430px;
  width: 100%;
  text-align: center;
}
.tr-notes {
  height: 50px;
}
li.top-bar {
  text-align: left;
  background: url('../img/toolbar-bg.png') repeat-x;
  height: 50px;
}
.profile-pic {
  float: right;
  width: 350px;
  height: 50px;
}
.profile-pic img {
  float: right;
  width: 100%;
  height: 100%;
}
.full-name {
  color: white;
  padding-top: 6px;
  padding-left: 5px;
  line-height: 19px;
}
.sign-out {
  color: red;
  display: inline;
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 2px;
  font-size: 11px;
}
.sign-out:hover {
  color: blue;
  background: none;
}
.org-row {
  width: 7px;
}
.org-list {
  width: 100%;
  height: 25px;
  margin: 0;
}
li.lead-data {
  margin-bottom: 5px;
  max-height: 467px;
  overflow-x: hidden;
  overflow-y: auto;
}
li.lead-data table {
  width: 100%;
  padding: 3px 0;
}
li.lead-data table th {
  padding: 5px 0 3px 10px;
  width: 108px;
  text-align: left;
  font-size: 12px;
  margin: 0;
  vertical-align: top;
}
li.lead-data table td {
  text-align: left;
  padding: 3px 2px;
}
li.lead-data table td.label {
  text-align: center;
  display: table-cell;
  border-radius: 0px;
  width: 100%;
  background: #d8dbe4;
  color: #3e3e3e;
  text-shadow: none;
  padding: 2px 3px;
}
li.lead-data input {
  font-size: 13px;
  padding: 3px 4px;
  margin-right: 10px;
  height: 18px;
  width: 270px;
  border: 0;
  margin: 0;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  width: 236px;
  text-overflow: ellipsis;
}
li.lead-data input:hover,
li.lead-data input:focus {
  border: none;
  box-shadow: none;
}
li.lead-data input:focus {
  cursor: text;
  border: 1px solid #ddd;
  background: #fefefe;
}
li.lead-data input.custom-key {
  width: 100px;
}
li.lead-data .custom-field td {
  position: relative;
}
li.lead-data .add-custom {
  cursor: pointer;
  padding-left: 5px;
  font-size: 13px;
}
li.lead-data .add-custom:hover {
  background: none;
}
li.lead-data .item-list {
  float: left;
}
li.lead-data .item-list > li {
  text-align: left;
  padding-right: 30px;
}
li.lead-data .add {
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: 12px;
  padding: 3px 0 0 0;
  margin-left: 4px;
}
li.lead-data .add:hover {
  background: none;
}
li.lead-data .item-list {
  width: 276px;
  padding-left: 1px;
}
li.lead-data .item-list li {
  position: relative;
}
li.lead-data .trash {
  display: block;
  width: 17px;
  height: 17px;
  background: url('../img/trash.png');
  position: absolute;
  right: 7px;
  top: 5px;
  cursor: pointer;
}
.save-lead {
  width: 430px;
  margin: 5px auto 2px auto;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0.8;
  z-index: 10;
}
.overlay.loading {
  background-image: url('../img/ajax-loader.gif');
  background-repeat: no-repeat;
  background-position: 140px 212px;
}
.post-info {
  display: none;
  position: fixed;
  text-align: center;
  width: 430px;
  top: 267px;
  z-index: 11;
  font-size: 20px;
}
.post-success {
  color: darkgreen;
}
.post-view {
  color: darkgreen;
}
.lead-url {
  margin-top: 20px;
  background: none;
  font-size: 15px;
}
.lead-url:hover {
  background: none;
}
.post-error {
  color: darkred;
}
.post-update {
  color: darkred;
}
.validation-errors {
  font-size: 14px;
  padding: 10px;
}
.dupe-org-alert {
  color: darkred;
  display: none;
}
.dupe-org-alert a {
  background: none;
  display: inline;
}
.dupe-org-alert a:hover {
  background: none;
}
.trial-expired {
  display: none;
  padding: 10px 20px;
  text-align: center;
}
.trial-expired a {
  background: none;
  display: inline;
}
.trial-expired a:hover {
  background: none;
}
