@import url("http://fonts.googleapis.com/css?family=Lato:400,700,400italic");
*,
html,
body,
form,
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  font: Lato, sans-serif;
}
body {
  background: #ececec;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
}
a {
  text-decoration: none;
}
/* First User Experience */
.navbar {
  background: url("../img/nav_bg.jpg") 0 0 repeat;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
  filter: none;
  padding: 13px 0 8px 12px;
  height: 40px;
}
.navbar .brand {
  float: left;
  font-size: 36px;
  font-weight: 200;
  font-family: Lato, sans-serif;
  text-shadow: none;
  height: 34px;
  line-height: 34px;
  color: #fff;
}
.navbar .by-elastic {
  margin-left: 10px;
  line-height: 40px;
  width: 170px;
  float: left;
  height: 34px;
  color: #cacaca;
  font-size: 14px;
}
.navbar .by-elastic a {
  color: white;
  font-size: 16px;
}
.navbar .by-elastic img {
  height: 25px;
  width: 25px;
  vertical-align: middle;
}
.btn-signup {
  float: right;
  background-color: #5bb75b;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8fb450), to(#648a43));
  background-image: -webkit-linear-gradient(top, #8fb450, #648a43);
  background-repeat: repeat-x;
  margin: 6px 10px 0 0;
  padding: 5px 10px;
  border-radius: 5px;
}
#fux-container {
  width: 480px;
  padding: 30px;
  background: url('../img/content_bg.jpg') repeat left top;
}
#error {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: red;
}
#success {
  text-align: center;
  font-size: 24px;
  color: #333;
  font-weight: bold;
}
p {
  clear: both;
  margin: 20px 0 40px;
  overflow: hidden;
  color: #666;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
}
p a {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}
h1 {
  font-weight: bold;
  color: #545454;
  font-size: 20px;
  text-align: center;
  padding: 0 0 10px;
}
#loading {
  display: none;
}
label {
  padding: 0 14px 0 0;
  text-align: right;
  font-weight: bold;
  color: #898989;
  font-size: 11.5px;
}
.field {
  text-align: center;
  margin: 10px auto;
  width: 376px;
  clear: both;
}
.field input {
  font-size: 12px;
  margin: 0;
  padding: 9px 11px;
  clear: both;
  border: 1px solid #ccc;
  width: 80%;
  outline: none;
  border-radius: 4px;
}
.field input:hover {
  border-color: #aaa;
}
.field input:hover::-webkit-input-placeholder {
  color: #aaa;
}
.field input:focus {
  border-color: #86ab18;
}
.field input:focus::-webkit-input-placeholder {
  color: #e2e8d2;
}
.field input:hover:focus {
  border-color: #86ab18;
}
.field input:hover:focus::-webkit-input-placeholder {
  color: #e2e8d2 !important;
}
.field input.error {
  border: 1px solid red;
}
#submit {
  text-align: right;
  margin: 10px auto;
  width: 322px;
}
button {
  float: right;
  font-size: 12px;
  font-weight: bold;
  color: #545454;
  padding: 9px 11px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e9f3db), to(#d2e7b5));
  background: -webkit-gradient(top, #e9f3db, #d2e7b5);
  -webkit-box-shadow: inset 0px 0px 3px #fcfcfb;
}
button:hover,
button:focus {
  border: 1px solid #aaa;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e9f3db), to(#bbdf8b));
  background: -webkit-gradient(top, #e9f3db, #bbdf8b);
  -webkit-box-shadow: inset 0px 0px 4px #fcfcfb;
  cursor: pointer;
}
